nav {
  background-color: rgb(248, 113, 79);
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 2px 0 2px 0;
  display: flex;
}

nav>a {
  margin: 2px 5px 2px 5px;
  text-decoration: none;
  color: azure;
  padding: 3px 6px 3px 6px;
  border-radius: 6px;
}

nav>a:hover {
  background-color: azure;
  color: chocolate;
}

nav>span {
  width: 25%;
}

.logo {
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  display: flex;
}

.logo-img {
  height: 132px;
  margin: 0 20px 0 20px;
}

.search {
  padding: 10px 0;
  margin-top: 40px;
  margin-left: 5%;
  width: 50%;
  max-width: 600px;
}

.bar6 form {
  position: relative;
  margin: 0 auto;
}

.bar6 input, .bar6 button {
  border: none;
  outline: none;
}

/*搜索框6*/

.bar6 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  padding-right: -10px;
  border: 2px solid rgb(245, 134, 106);
  border-radius: 5px;
  background: transparent;
  top: 0;
  right: 0;
  color: grey;
}

.bar6 button {
  background: rgb(245, 134, 106);
  border-radius: 0 5px 5px 0;
  width: 60px;
  top: 0;
  right: 0;
  margin-right: -14px;
  color: azure;
  height: 46px;
  cursor: pointer;
  position: absolute;
}

.bar6 button:before {
  font-size: 13px;
  color: #f9f0da;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 220px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px 10px 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: rgb(236, 117, 47);
}

.card>img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card>.card-text {
  padding: 5px 10px 10px 5px;
  text-align: center;
}

.card-row {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 50px 0;
}

.content {
  display: flex;
  justify-content: space-around;
  background-color: #cfcfcf;
}

.content>.main {
  width: 70%;
  padding-top: 30px;
  background-color: white;
}

.main-head {
  border: 1px 0 1px 0;
  border-top: orange solid;
  border-bottom: orange solid;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-around;
}

.main-head>div>h1 {
  color: red;
  margin-bottom: -20px;
  margin-left: 50px;
}

.main-head>video {
  /* margin-left: 50%; */
  width: 40%;
}

.main-head>div>p {
  word-wrap: break-word;
  margin-left: 50px;
  margin-top: 50px;
}

footer {
  border-top: rgb(206, 205, 205) solid 1px;
  text-align: center;
  font-size: small;
  color: grey;
  background-color: #f5f5f5;
  padding: 10px 0 10px 0;
}